<p class="title">
	<b>Dependency Check</b>
</p>

<% measure = @snapshot.measure('dependencycheck').data 

dependencies = measure.split(';') %>

<table class="width100">
	<tbody>
		<tr>
			<th style="text-align: center"><b>Library</b></th>
			<th style="text-align: center"><b>License</b></th>
			<th style="text-align: center"><b>Status</b></th>
		</tr>

		<% 	dependencies.each do |dependency| 
			d = dependency.split(',') 
		%>
		<tr>
			<td><%= d[0] %></td>
			<td><%= d[1] %></td>
			<% if d[2] == 'OK' %>
			<td style="text-align: center"><%= d[2] %></td>
			<% else %>
			<td style="text-align: center"><b><%= d[2] %></b></td>
			<% end %>
		</tr>
		
		<% end %>
	</tbody>
</table>
